<div class="right-column">
  
    <!-- Product Description -->
    <div class="product-description">
      <h1><%=product.name %></h1>
    </div>
    <div class="text-left">
      <h4>Thông số kỹ thuật</h4>
      <ul class="parameter">
            <li class="g6459_79_77"><span>Màn hình:</span><div><%= product.specs.screen %></div></li><li class="g72"><span>Hệ điều hành:</span><div><%= product.specs.os%></div></li><li class="g27"><span>Camera sau:</span><div><%= product.specs.backCamera %></div></li><li class="g29"><span>Camera trước:</span><div><%= product.specs.frontCamera %></div></li><li class="g6059"><span>CPU:</span><div><%= product.specs.cpu %></div></li><li class="g50"><span>RAM:</span><div><%= product.specs.ram %></div></li><li class="g49"><span>Bộ nhớ trong:</span><div><%= product.specs.memory %></div></li><li class="g6339_6463"><span>Kết nối mạng:</span><div><%= product.specs.network %></div></li>
            
        </ul>

    </div>
