<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title><%= product.name%></title>
  <link rel="shortcut icon" href="/img/eyes.jpg">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link href="/css/product.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styleiphonex.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">


</head>
<body class="text-center">
    <!-- Fixed Top -->
  <% include partials/nav.ejs %>

  <div class="containerIpx">
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <!-- <img data-image="black" src="/img/iphoneblack.jpg" alt=""> -->
    <img data-image="silver" class="active" src="/img/<%= product.imgPath%>" alt="">
  </div>
  
   <% if(type === 'iphone'){ %>
          <% include partials/viewspecs/iphone.ejs %>
        <% }else if(type ==='ipad'){ %>
          <% include partials/viewspecs/ipad.ejs %>
        <% }else if(type ==='mac'){%>
          <% include partials/viewspecs/mac.ejs %>
        <% }else if(type ==='watch'){%>
          <% include partials/viewspecs/watch.ejs %>
        <% }%>
  <!-- Right Column -->

     
      <!-- Product Color -->
     <!--  <div class="product-color">
        <span>Color</span>
  
        <div class="color-choose">
          <div>
            <input data-image="silver" type="radio" id="silver" name="color" value="silver" checked>
            <label for="silver"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>
      </div> -->
  
      <!-- Cable Configuration -->
      <!-- <div class="cable-config">
        <a href="#">How to configurate your phones</a>
      </div> -->
  
    <!-- Product Pricing -->
      <div>
        <form method="POST" action="/add-to-cart">
        <div class="text-left">
          <ul class="parameter">
            <input type="hidden" name="productId" value="<%= product.id%>">
            <li><span>Giá sản phẩm:</span><div><input type="hidden" name="price" value="<%= product.price %>"><%= product.price %><e> VND</e></div></li>
            <li class="g29 g291"><span>Số lượng:</span><div class="" data-th="Quantity"><input class="form-control text-center size-quantity" value="1" type="number" name="number"></div></li>
          </ul>
        </div>
        <a href="#" class="cart-btn" onclick="$(this).closest('form').submit();">Add to cart</a>
        </form>
      </div>
        
      </div>
  </div>
  <hr><br>
  <h2>Technology Review</h2>
  <br><br>
  <div class="roll background-imgIphonex color-part2 position-relative overflow-hidden p-3 p-md-5 text-center " style="background-image: url(/img/design_film_large.jpg)!important;" >
      <a href="/video/iphonex.mp4" class="white">
      <div class="editIpX col-md-5 p-lg-5 mx-auto my-5"><br>
        <h1 style="font-weight: bold;">Design fillm</h1>
        <span class="film-cta icon icon-after icon-playcircle typography-intro-elevated" style="font-weight: bold;">Watch</span>
      </div>
      </a>
    </div>

    <div class=" color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="editIpX-screen col-md-5 p-lg-5 mx-auto my-5">
        <h2>Design and Display</h2>
        <h1 class="display-4 font-weight-normal">It’s all screen.</h1>
      </div>
      <div class="screen">
          <img src="/img/design_hero_large.jpg">
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">Innovative Technology</div>
        <div class="col-md-9 big-size">The display employs new techniques and technology to precisely follow the curves of the design, all the way to the elegantly rounded corners.</div>
      </div>
      <div class="screen">
          <a href="#"><video src="/video/large.mp4" autoplay=""></video></a>
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">OLED Designed for iPhone X</div>
        <div class="col-md-9 big-size">The first OLED screen that rises to the standards of iPhone, with accurate, stunning colors, true blacks, high brightness, and a 1,000,000 to 1 contrast ratio.</div>
      </div>
      <div class="screen">
          <img src="/img/three-phone.png">
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">All-New Design</div>
        <div class="col-md-9 big-size">The most durable glass ever in a smartphone, front and back. Surgical‑grade stainless steel. Wireless charging. Water and dust resistance.</div>
      </div>
      <div class="screen">
          <img src="/img/design_all_new_large.jpg">
      </div>
    </div>

    <div class=" color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="editIpX-screen col-md-5 p-lg-5 mx-auto my-5">
        <h2 class="change">Face ID</h2>
        <h1 class="display-4 font-weight-normal">A revolution in recognition.</h1>
      </div>
      <div class="screen">
          <img src="/img/face_id_hero_large.jpg">
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">Secure Authentication</div>
        <div class="col-md-9 big-size">Your face is now your password. Face ID is a secure and private new way to unlock, authenticate, and pay.</div>
      </div>
      <div class="screen">
          <img src="/img/face_id_secure_authentication_large.jpg">
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">Portrait Mode Selfies</div>
        <div class="col-md-9 big-size">Create beautiful selfies with sharp foregrounds and artfully blurred backgrounds.</div>
      </div>
      <div class="screen">
          <img src="/img/smile.png">
      </div>
    </div>

    <div class="color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="fontmyself row col-md-5 p-lg-5 mx-auto my-5">
        <div class="col-md-3">Improved Cameras</div>
        <div class="col-md-9 big-size">A larger and faster 12MP sensor. A new color filter. Deeper pixels. And a new telephoto camera with OIS.</div>
      </div>
      <div class="screen">
          <img src="/img/dual_cameras_smart_cameras_large.jpg">
      </div>
    </div>

    <div class=" color-part2 position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
      <div class="editIpX-screen col-md-5 p-lg-5 mx-auto my-5">
        <h2>Compare</h2>
        <h1 class="display-4 font-weight-normal">Find the iPhone that’s right for you.</h1>
        <a href="#" class="fontmyself">Compare iPhone models</a>
      </div>
      <div class="screen">
          <img src="/img/compare_footer_large.jpg">
      </div>
    </div>













  <footer class="container py-5">
      <hr>
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>


  <script type="text/javascript" src="/js/jquery-3.2.1.slim.min.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/holder.min.js"></script>
  <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
<script type="text/javascript">
   $(document).ready(function() {

  $('.color-choose input').on('click', function() {
      var headphonesColor = $(this).attr('data-image');

      $('.active').removeClass('active');
      $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
      $(this).addClass('active');
  });

});
</script>   
</body>
</html>